{% extends 'header.html' %}

{% block content %}

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Detail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header section starts -->

    <nav class="header">
    <div class="container">

      <div class="mainmenu">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/about/">about me</a></li>
          <li><a href="/myworks/">my works</a></li>
          <li><a href="/ai_applications/">AI Apps for Education</a></li>
          <li><a href="/contact/" class="btn">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- header section ends -->

    <!-- about section starts -->
    <section class="all_hero">
        <img src="../img/Vector 9.svg" alt="" />
        <div class="container">
            <h1>Project Detail</h1>
            <p>Details About The Porject</p>

        </div>
    </section>
    <!-- about section end -->

    <main class="projects">
        <!-- Main Project Section -->
        <section class="main-project">
            <div class="container">
                <div class="project">
                    <img src="../img/ProjectImg1.png" alt="Project" class="project-image">
                    <div class="project-details">
                        <h2>Project Story</h2>
                        <p>The fact that photography has different meanings to different people is one of the many
                            components of its appeal. Photography is such an important part of our life that it is now
                            very
                            difficult to imagine the world without it. <br><br>

                            We cannot imagine a wedding without the opportunity to capture it on film, we would not be
                            able
                            to remember the growing up of children or the holidays if we did not have pictures.</p>
                    </div>
                </div>
                <div class="project">
                    <div class="img_flex">
                        <img src="../img/ProjectImg2.png" alt="">
                        <img src="../img/ProjectImg3.png" alt="">
                    </div>
                    <div class="project-details">
                        <h2>Day One</h2>
                        <p>Everywhere we are haunted by photography in newspapers, magazines, advertisements on
                            television on the Internet, but we still crave even more.
                            <br> <br>
                            And what helps to achieve a good result? We will look at these issues and some of the
                            possibilities of photography and explain that it is a combination of thought imagination,
                            visual design, technical skills and organizational skills
                        </p>
                    </div>

                </div>
                <div class="img_row">
                    <div class="project_btn">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span>Previous work</span>
                    </div>
                    <div class="project_btn">
                        <span>next work</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>

        </section>

        <!-- Other Projects Section -->
        <section class="other-projects">
            <div class="container">
                <h3>Other Projects</h3>
                <div class="gallery">
                    <div class="gallery-item">
                        <img src="../img/ProjectImg4.png" alt="Other Project 1">
                        <h5>Logo Project 1</h5>
                        <h6>Branding</h6>

                    </div>
                    <div class="gallery-item">
                        <img src="../img/ProjectImg5.png" alt="Other Project 2">
                        <h5>Logo Project 2</h5>
                        <h6>Branding</h6>
                    </div>
                    <div class="gallery-item">
                        <img src="../img/ProjectImg6.png" alt="Other Project 3">
                        <h5>Logo Project 3</h5>
                        <h6>Branding</h6>
                    </div>
                </div>
            </div>
        </section>
    </main>

    

{% endblock %}