{% extends 'header.html' %}

{% block content %}

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Detail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header section starts -->

    <nav class="header">
    <div class="container">

      <div class="mainmenu">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/about/">about me</a></li>
          <li><a href="/myworks/">my works</a></li>
          <li><a href="/ai_applications/">AI Apps for Education</a></li>
          <li><a href="/contact/" class="btn">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- header section ends -->

    <!-- about section starts -->
    <section class="all_hero">
        <div class="container">
            <h1>AI Chatbots</h1>
            <p>Replika/Studio-d-id</p>

        </div>
    </section>
    <!-- about section end -->

    <main class="projects">
        <!-- Main Project Section -->
        <section class="main-project">
            <div class="container">
                <div class="project">
                     <div class="img_flex">
                        <img src="{% static 'replika.png' %}" alt="">
                    </div>
                    <div class="project-details">
                        <h2>Replika</h2>
                        <p>Replika has a lot of features to use I guess just for fun. The bot builds a connection with you
                            based on your profile information and it keeps the chat history too. The app added almost all
                            features that a real person is able to use on messengers. This may help users interact with the
                            bot as someone else and thus, leading to feel that they are socializing. The language it uses is
                            also not that formal. However, I did not find it natural as it does not make any mistakes when
                            writing or remembering my information.
 <br><br>

                            I’m not sure why normal people would use this bot except just for fun. But language learners
                            might find this useful to interact with as they can express any thought without a fear of making a
                            mistake, but the bot is still not the only option in this as I’ve seen people doing IELTS speaking
                            practice with tools like Chatgpt. I wonder how Premium users are even paying for this bot just to
                            entertain themselves. </p>
                    </div>
                </div>
                <div class="project">
                    <div class="img_flex">
                        <img src="{% static 'd-id.jpg' %}" alt="">
                    </div>
                    <div class="project-details">
                        <h2>Studio-d-id</h2>
                        <p>I felt like Studio-d-id is a visualized version of tools like Chatgpt, Gemini, but with less
                            functionalities. Responses here are much shorter compared with those two. It is natural as they
                            created a talking AI and it would be strange if those talks were long and enriched like GPT or
                            Gemini. They made agents available in various languages. I tried English and Turkish and I loved
                            it as they talk like a real native.

                            <br> <br>
                            Some cool stuff is available for only premium users. Integrating an agent to your app is not an
                            exception. Just like Replika, language learners may find this app useful. However, they can be
                            used for a variety of purposes just by integrating them to one’s app or a website. They might
                            be used to help people find out about a website’s functionalities, navigate through the website,
                            simply give information on whatever the users are curious about.

                        </p>
                    </div>

                </div>
            </div>

        </section>

    </main>

    

{% endblock %}