{% extends 'header.html' %}

{% block content %}

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Images</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header section starts -->

    <nav class="header">
    <div class="container">

      <div class="mainmenu">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/about/">about me</a></li>
          <li><a href="/myworks/">my works</a></li>
          <li><a href="/ai_applications/">AI Apps for Education</a></li>
          <li><a href="/contact/" class="btn">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- header section ends -->

    <!-- about section starts -->
    <section class="all_hero">
        <img src="../img/Vector 9.svg" alt="" />
        <div class="container">
            <h1>AI Images</h1>
            <p>Kittl/Openart/Envato</p>

        </div>
    </section>
    <!-- about section end -->

    <main class="projects">
        <!-- Main Project Section -->
        <section class="main-project">
            <div class="container">
                <div class="project">
                    <img src="{% static 'logo.png' %}" alt="Project" class="project-image">
                    <div class="project-details">
                         <h2>Kittl</h2>
                        <p>Kittl has a variety of already-made images for use in different fields such as business,
                            marketing, brand building. And AI image-generations is just a part of this big app.
                            AI offers three options and I went with Logo-generation. It generated an image with basic
                            background and the brand name on the center. They tried to give a hint about the business
                            with a smaller text below the name. It looks very simple and may be used for MVP projects.
                             <br><br>

                            However, that text as a hint has almost nothing to do with the business described.
                            There were 5-6 images as output so that you can choose the one you like. Unfortunately,
                            there were all the same except the background color and a tiny change in fonts.
                        </p>
                    </div>
                </div>
                <div class="project">
                    <div class="img_flex">
                        <img src="{% static 'openart.jpg' %}" alt="">
                    </div>
                    <div class="project-details">
                        <h2>Openart</h2>
                        <p>"I want you to generate an image for my Instagram promotion post.
                            I'm going to promote my new educational application on Instagram.
                            The app helps students prepare for their exams by taking tests online."
                            This was my prompt. As I was expecting more from the AI, I felt like the output was awful.
                            The cartoonic student with a phone on hand surely does not fit with my prompt.
                            I was expecting some texts as hint or at least some paper or something to illustrate
                            that the app is about tests. It also did not give longer space to express what you are
                            expecting.
                            <br> <br>
                            You are not able to improve the output with follow-ups. Even though it gives you some credits
                            to use for image-generation, the free plan expires in 7 days. And you should switch to paid plans
                            to keep using those credits you have which is a bit ironic:)
                        </p>
                    </div>
                </div>

                <div class="project">
                    <div class="img_flex">
                        <img src="{% static 'envato2.jpg' %}" alt="">
                    </div>
                    <div class="project-details">
                        <h2>Envato</h2>
                        <p>"I want you to generate an image for my Instagram promotion post.
                            I'm going to promote my new educational application on Instagram.
                            The app helps students prepare for their exams by taking tests online."
                            I used this same prompt on Envato too. The best thing with Envato is that it offers
                            you 8 images that are quiete different from one another. All of them are creative
                            with some cartoonish or even real people-like characters. I felt like it was a real art
                            except some confusing letters used in 2 images.
                            <br> <br>
                            However, I still believe the majority of them have nothing to do with my prompt.
                            The closest I thought was the above one, but trying to be creative they lost the idea of the
                            brand as you can see that building and birds on the background. Strangely enough, everything
                            on the image looks very old-fashioned, whereas I asked to generate the image for an Instagram post.
                        </p>
                    </div>
                </div>

                 <div class="project">
                    <div class="project-details">
                        <h2>Conclusion</h2>
                        <p>I think all the apps have a certain type, number of templates to generate these images.
                            You can especially notice it when you ask to include people in the image. They are
                            all cartoonish. The apps seem to fail to include real people as I asked to generate an image
                            where Messi should be giving a talk to the press and it could not place the real Messi image.
                            It showed some character on a Barca shirt.
                            </p>
                    </div>
                </div>

            </div>

        </section>

    </main>



{% endblock %}