<!DOCTYPE html>
<html lang="en">
{% load static %}

{% block content %}

{% endblock %}
<!-- footer section starts -->

  <footer>
    <section class="footer" id="footer">
      <h3 class="footer-heading">Get in Touch With Us</h3>
      <h2>1997abdulhamid@gmail.com</h2>

      <div class="footer-details container">
        <div>
          <h3>Abdulhamid</h3>
        </div>

        <div>
          <a href="#">Wolgye-ro 34-gil, 37-9, Gwangju, Korea</a> <br />
        </div>

        <div>
          <div class="footer_link">
           <a href="https://www.facebook.com/abdulkhamid.egamberdiev/"> <i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.linkedin.com/in/abdulkhamid-egamberdiev/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/abdulhamidoninsta/"><i class="fa-brands fa-square-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="copy-right">
        <p>&copy;2024. No rights reserved:)</p>
      </div>
    </section>
  </footer>

  <!-- footer section ends -->
</body>

</html>